# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [17]:
CREATE TABLE JunkDB_STL_May2023.rachel.planned_makes (
    plant VARCHAR(50) PRIMARY KEY,
    yard_location VARCHAR(50),
    quantity INT,
    plant_description VARCHAR(250)
);

Add three rows to your table that are your planned makes.

In [1]:
INSERT INTO JunkDB_STL_May2023.rachel.planned_makes (plant, yard_location, quantity, plant_description)
VALUES ('Bottlebrush Buckeye', 'back hedge', 2, 'Purchased Greenscapes July 2023. Shade-loving. Blooms all summer.'),
    ('Dragonwing Begonia', 'front hedge', 90, 'Annual. Purchased from Rolling Ridge. Easy to propogate'),
    ('Oak Leaf Hydrangea', 'back hedge', 1, 'Inherited. Did not tolerate cold snap.');

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__planned___0C055C67BAE3F15D'. Cannot insert duplicate key in object 'rachel.planned_makes'. The duplicate key value is (Bottlebrush Buckeye).

## Update a Row

Change different values in one of your three rows.

In [2]:
UPDATE JunkDB_STL_May2023.rachel.planned_makes
SET plant_description = 'Purchased Greenscapes July 2023. Shade-loving. Blooms all early-mid summer. Third purchased for pond.'
WHERE plant = 'Bottlebrush Buckeye'

## Delete a Row

Delete one of the rows from your table.

In [3]:
DELETE FROM JunkDB_STL_May2023.rachel.planned_makes
WHERE
    plant = 'Dragonwing Begonia'

In [4]:
SELECT * FROM JunkDB_STL_May2023.rachel.planned_makes

plant,yard_location,quantity,plant_description
Bottlebrush Buckeye,back hedge,2,Purchased Greenscapes July 2023. Shade-loving. Blooms all early-mid summer. Third purchased for pond.
Oak Leaf Hydrangea,back hedge,1,Inherited. Did not tolerate cold snap.

## Drop the Table

While this has been fun, it is time to drop the table!

In [5]:
DROP TABLE JunkDB_STL_May2023.rachel.planned_makes

In [6]:
SELECT * FROM JunkDB_STL_May2023.rachel.planned_makes

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'JunkDB_STL_May2023.rachel.planned_makes'.